@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --yellow-bb: #FCFC30;
  
    --blue-bb: #465eff;
  
    --pink-bb: #FB5E84;
  
    --sky-blue-bb: #51DBF7;
  
    --gray-bb: #EDF6FA;
  
    --bg-yellow-bb: #FCFC60;
  
    --bg-blue-bb: #5A8BFF;
  
    --bg-pink-bb: #FD7999;

  
    }
    .blue-button{
      --primary-color: #5A8BFF;
      --second-color: #2A66F2;
      --text-color: #EDF6FA;
      
  
    }
    .pink-button{
      --primary-color: #FD7999;
      --second-color: #FB5E84;
      --text-color: #EDF6FA;
  
    }


    .yellow-layout{
      --primary-color: #FCFC30;
      --second-color: #2A66F2;
      --active-button: #2A66F2;
      --disabled-button: #5A8BFF;
      --text-color: #222222;
      --text-color-secondary: #EDF6FA;
    }
    .blue-layout{
      --primary-color: #2A66F2;
      --second-color: #FCFC30;
      --active-button: #FCFC30
      --disabled-button: #FCFC60;
      --text-color: #EDF6FA;
      --text-color-secondary: #222222;
  
    }
    .btn-ylw{
      @apply uppercase text-4xl font-bold bg-bb-yellow border-bb-lightyellow border-4 px-12 py-3 hover:bg-bb-lightyellow text-black duration-300 ease-in-out
    }
    .btn-blue{
      @apply uppercase text-2xl tablet:text-4xl font-bold bg-bb-blue rounded-xl px-6 tablet:px-12 py-4 hover:bg-bb-lblue text-white duration-300 ease-in-out
      laptop:px-7 laptop:text-2xl desktop:text-2xl 2xdesktop:text-4xl before:content-['Abra_sua_Conta'] tablet:before:content-['Abra_sua_Conta_digital_agora']

    }
    .btn-disabled{
      @apply uppercase font-bold bg-gray-300 px-12 py-3 text-bb-gray rounded-4xl 
      
    }
    .div-view{
      @apply border-4 border-black
    }

    .card{
      @apply flex flex-col align-top items-center bg-white rounded-md shadow-3xl w-96 h-80  tablet:h-[480px]
      toten:w-[280px] toten:h-[415px] 2xdesktop:w-[480px] 2xdesktop:h-full 
    }
    .title-primary {
      @apply tablet:font-black text-5xl tablet:text-6xl font-semibold text-bb-blue p-8 laptop:p-8 capitalize
      desktop:text-5xl desktop:p-2 laptop:pb-2 laptop:text-5xl 2xdesktop:text-7xl

    }
    .title-secundary {
      @apply text-3xl font-medium uppercase text-bb-text-primary

    }
    .text-primary{
      @apply font-normal text-lg tablet:text-3xl mx-2 toten:mx-24 pb-4 laptop:p-2
      desktop:text-2xl laptop:text-2xl desktop:mx-12 tablet:mx-10 
      2xdesktop:text-3xl
    }
    
    .text-shadow{
      @apply drop-shadow-[3px_3px_rgba(42,102,242,1)]
    }
  }
    
    .fade-enter {
      opacity: 0;
      transform: scale(0.95);
    }
    .fade-enter-active {
      opacity: 1;
      transform: scale(1);
      transition: opacity 300ms, transform 300ms;
    }
    
    .fade-exit {
      opacity: 1;
      transform: scale(1);
    }
    .fade-exit-active {
      opacity: 0;
      transform: scale(0.95);
      transition: opacity 300ms, transform 300ms;
    }
    